In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 
from pydataset import data
quakes = data('quakes')
quakes.head()
quakes.tail()

ModuleNotFoundError: No module named 'pydataset'

In [2]:
pwd

'/Users/zhangyugu/python_works/analyze_code/chapter10/demo/data'

In [3]:
python water_heater.py

SyntaxError: invalid syntax (<ipython-input-3-f2ab9bfd9c11>, line 1)

In [4]:
python

NameError: name 'python' is not defined

In [5]:
print("ads")

ads

In [2]:
import pandas as pd
import numpy as np
import datetime
from IPython.core.interactiveshell import InteractiveShell

#/Users/zhangyugu/Desktop/heater_
pre_data=pd.read_excel('water_heater.xls')#,usecols=['发生时间'],'开关机状态','保温中','实际温度','热水量','水流量','当前设置温度','加热剩余时间'
pre_data=pre_data[['发生时间', '开关机状态', '保温中', '实际温度', '热水量', '水流量', '当前设置温度', '加热剩余时间']]

# data=data.reindex(np.arange(0,len(data))[data['开关机状态']=='开'])
# print(pre_data)
del pre_data['保温中']
del pre_data['开关机状态']
# data['保温中']=list(map(lambda x : 1 if x=='开' else 0,data['保温中']))
pre_data['实际温度']=list(map(lambda x:int(x[:-3]), pre_data['实际温度']))
pre_data['当前设置温度']=list(map(lambda x:int(x[:-3]), pre_data['当前设置温度']))
pre_data['热水量']=list(map(lambda x:float(x.strip('%'))/100.0, pre_data['热水量']))
pre_data['加热剩余时间']=list(map(lambda x:int(x[:-3]) if x[:-3] else 0, pre_data['加热剩余时间']))
pre_data['发生时间']=list(map(lambda x:datetime.datetime.strptime(str(x), '%Y%m%d%H%M%S'), pre_data['发生时间']))

timeDiff=pre_data['发生时间'].diff()
indexs=timeDiff[timeDiff>pd.Timedelta(seconds=2)].index-1
inserted=[
    [pre_data['发生时间'][i]+pd.Timedelta(seconds=2),0,0,0,0,0]
    for i in indexs
]
pre_data.append(pd.DataFrame(inserted,columns=['发生时间', '实际温度', '热水量', '水流量', '当前设置温度', '加热剩余时间']))
pre_data.sort_index()

data=pre_data[pre_data['水流量']>0]
# print(data)
deltas=[pd.Timedelta(minutes=i) for i in np.arange(1,9,0.25)]
time_diffs=data['发生时间'].diff()
result=[(time_diffs>i).sum()+1 for i in deltas]

import matplotlib.pyplot as plt
# plt.scatter(np.arange(0,10,0.25)[3:],result[3:])


# print(pre_data)
# print(len(result))
rates=pd.Series(np.abs(np.diff(result))).rolling(4).mean()*4 #这次少1，不影响
# print(len(rates))
# print(rates)

idx=rates.idxmin()
print(deltas[idx-3])
print(rates[idx])


# total_uses=list(map(lambda a:pd.Timedelta(a),time_diffs[time_diffs>deltas[idx-3]])) #总用水时间
exceeds=time_diffs[time_diffs>deltas[idx-3]]
# print(exceeds)


# ends=data['发生时间'][exceeds.index]
# uses=[[
#     for j in range(data['发生时间'][i]-exceeds[i],data['发生时间'])
# ] for i in exceeds.index]
uses=[]
total_uses=[]
indexs=[]
pre_index=0
used_quantities=[]
hot_waters=[]
data_index=data.index.values.tolist()
stop_counts=[]
stop_time_waves=[]
flow_waves=[]
def get_gap(j):
    return (pre_data['发生时间'][int(j) + 1] - pre_data['发生时间'][int(j) - 1]) / 2
for i in exceeds.index:
    if i > exceeds.index[0]:
        start=pre_index
    else:
        start = data.index[0] if data.index[0]<i else 1
        #
    # j=i-1
    # use=pd.Timedelta(minutes=0)
    # while pre_data['发生时间'][j]>=pre_data['发生时间'][i]-exceeds[i]:
    #     if pre_data['水流量'][j]>0:
    #         use=use+(pre_data['发生时间'][j+1]-pre_data['发生时间'][j-1])/2
    #     j=j-1
    # a=[]
    # for j in range(start, i-1):
    #     if pre_data['水流量'][j] > 0:
    #         a.append((pre_data['发生时间'][j+1]-pre_data['发生时间'][j-1]) / 2)

    last_use_index = data_index[data_index.index(i) - 1]
    use=pd.Timedelta(minutes=0)
    total_use=pd.Timedelta(minutes=0)
    hot_water=0
    used_quantity=0
    stop_times=0
    stop_time=pd.Timedelta(minutes=0)
    uses_cur=[]
    used_quantities_cur=[]
    stops=[]
    pre_stop=-1
    for j in range(start, last_use_index + 1):
        gap = get_gap(j)
        if pre_data['水流量'][j] > 0:
            use+=gap
            flow=data['水流量'][j]*60/gap.seconds
            used_quantity+=flow
            hot_water+=(data['热水量'][j]*flow)
            uses_cur.append(gap)
            used_quantities_cur.append(data['水流量'][j])
            if pre_stop>=0:
                stops.append(sum(list(map(lambda a:get_gap(a).seconds/60,range(pre_stop,j) )) ))
            pre_stop=-1
        else:
            # stop_time+=get_gap(j)
            if pre_data['水流量'][j-1]>0:
                stop_times+=1
                pre_stop=j

        total_use+=gap

    uses.append(use)
    total_uses.append(total_use)
    used_quantities.append(used_quantity)
    hot_waters.append(hot_water)
    stop_counts.append(stop_times)
    if stops:
        stop_time_waves.append(pd.Timedelta(minutes=np.array(stops).std()**2))
    else:
        stop_time_waves.append(pd.Timedelta(minutes=0))
    avg_flow=used_quantity*60/use.seconds
    flow_waves.append(sum(list(map(lambda a:((a[0]-avg_flow)**2)*a[1].seconds/60,zip(*(used_quantities_cur,uses_cur)) ) ) )*60/use.seconds)

    # stop_distances.append(stop_time)
    # if stop_times>0:
    #     stop_avgs.append(stop_time/stop_times)
    # else:
    #     stop_avgs.append(pd.Timedelta(minutes=0))
    pre_index = i
    indexs.append((start, last_use_index))
 # if data_index[data_index.index(i) - 1] == pre_index:
    #     total_uses.append(use)
    # else:
    # total_uses.append(pre_data['发生时间'][i] - pre_data['发生时间'][start] - pd.Timedelta(exceeds[i]))


deltas=np.array(total_uses)-np.array(uses)
use_rates=list(map(lambda a:(a[0].seconds/a[1].seconds),zip(*(uses,total_uses))))
stop_avgs=list(map(lambda a:pd.Timedelta(minutes=0) if a[1]==0 else a[0]/a[1],zip(*(deltas,stop_counts))))
stats=pd.DataFrame(np.array([pre_data['发生时间'][np.array(indexs)[:,0]],
                             total_uses,uses,stop_counts,deltas,stop_avgs,use_rates,
                             used_quantities,list(map(lambda a:a[0]*60/a[1].seconds,zip(*(used_quantities,uses)))),hot_waters,indexs,
                             flow_waves, stop_time_waves
                             ]).T
                   ,columns=['开始时间','总用时','用时','停顿次数','停顿时长','平均停顿时长','用水时长/总时长','用水量','平均水流量','热水量','用水下标','水流波动','停顿时间波动']) #

# stats=pd.DataFrame(np.array([pre_data['发生时间'][np.array(indexs)[:,0]],total_uses,uses,np.array(total_uses)-np.array(uses),used_quantities,hot_waters,indexs]).T,columns=['开始时间','总用时','用时','时差','用水量','热水量','用水下标']) #


for i in ['总用时','用时','停顿时长','平均停顿时长','停顿时间波动']:
    stats[i]=stats[i].apply(lambda a:("%d:%d:%d" % (a.seconds/3600,a.seconds%3600/60,a.seconds%60)))
for i in ['用水时长/总时长','用水量','平均水流量','热水量','水流波动']:
    stats[i] = stats[i].apply(lambda a:"%.2f" % a)
from IPython.display import display
print(stats)
display(stats)
# writer = pd.ExcelWriter('../tmp/water_heater2.xls', datetime_format='hh:mm:ss')
# stats.to_excel(writer)
stats.to_excel('../tmp/water_heater1.xls')


# x=np.arange(1,9,0.25)[4:]
# y=rates[3:]
# plt.plot(x,y,marker='o')
# plt.xticks(x)
# plt.yticks(y)
# plt.grid(True)
# # for a,b in zip(x,y):
# #     plt.text(a,b,(a,b),ha='center',va='bottom',withdash=True)
# plt.show()

# closes=[]
# pre_status=1
# close_time=0
# for i in data.index:
#     if data['水流量'][i]!=pre_status:
#         if pre_status==0:
#             closes.append((data['发生时间'][i]-close_time).seconds)
#         else:
#             close_time=data['发生时间'][i]
#         pre_status=data['水流量'][i]
# print(np.sum(np.array(closes)>60*4))


# print([i  if data['水流量'][i]==0])
# print(np.all((data['保温中']==1).__and__(data['加热剩余时间']>0)))
# print(data['开关机状态']=='开')

0 days 00:04:00
1.0
                    开始时间      总用时       用时 停顿次数    停顿时长  平均停顿时长 用水时长/总时长  \
0    2014-10-19 07:01:56   0:5:18   0:5:18    0   0:0:0   0:0:0     1.00
1    2014-10-19 07:38:16   0:0:10   0:0:10    0   0:0:0   0:0:0     1.00
2    2014-10-19 09:46:38  0:44:22   0:44:4    1  0:0:17  0:0:17     0.99
3    2014-10-19 11:50:17   0:49:4   0:49:4    0   0:0:0   0:0:0     1.00
4    2014-10-19 13:56:21   0:7:24   0:7:24    0   0:0:0   0:0:0     1.00
5    2014-10-19 15:34:39   0:15:1  0:14:47    1  0:0:14  0:0:14     0.98
6    2014-10-19 15:55:15   0:0:21   0:0:21    0   0:0:0   0:0:0     1.00
7    2014-10-19 17:23:21  0:13:39  0:10:48    2  0:2:51  0:1:25     0.79
8    2014-10-19 17:46:21    0:9:1    0:9:1    0   0:0:0   0:0:0     1.00
9    2014-10-19 21:32:45   0:9:20    0:8:8    1  0:1:12  0:1:12     0.87
10   2014-10-19 21:47:05   0:5:37   0:5:37    0   0:0:0   0:0:0     1.00
11   2014-10-19 21:54:30   0:0:39   0:0:35    1   0:0:4   0:0:4     0.90
12   2014-10-20 06:59:33    0:0:4    0:0:4    0   0:0:0   0:0:0     1.00
13   2014-10-20 07:22:54  2:10:50    2:5:5    9  0:5:45  0:0:38     0.96
14   2014-10-20 13:33:54  2:44:31  2:44:31    0   0:0:0   0:0:0     1.00
15   2014-10-20 19:03:41   0:0:48   0:0:48    0   0:0:0   0:0:0     1.00
16   2014-10-20 19:13:45   0:4:25   0:4:25    0   0:0:0   0:0:0     1.00
17   2014-10-20 19:47:59   0:8:47   0:7:58    2  0:0:49  0:0:24     0.91
18   2014-10-20 20:18:11  0:10:13  0:10:13    0   0:0:0   0:0:0     1.00
19   2014-10-20 21:46:22   0:8:56   0:7:29    1  0:1:27  0:1:27     0.84
20   2014-10-20 23:02:13   3:39:5   3:39:5    0   0:0:0   0:0:0     1.00
21   2014-10-21 06:43:37  0:32:43  0:32:43    0   0:0:0   0:0:0     1.00
22   2014-10-21 07:49:07   0:0:20   0:0:20    0   0:0:0   0:0:0     1.00
23   2014-10-21 16:04:18   0:9:57   0:9:44    4  0:0:13   0:0:3     0.98
24   2014-10-21 16:23:07  0:18:15  0:12:17    3  0:5:58  0:1:59     0.67
25   2014-10-21 17:37:54  0:22:13  0:22:13    0   0:0:0   0:0:0     1.00
26   2014-10-21 18:37:57   0:0:32   0:0:32    0   0:0:0   0:0:0     1.00
27   2014-10-21 18:49:42   0:6:54   0:6:16    2  0:0:38  0:0:19     0.91
28   2014-10-21 19:01:43   0:1:39   0:1:39    0   0:0:0   0:0:0     1.00
29   2014-10-21 19:50:02   0:5:16   0:5:16    0   0:0:0   0:0:0     1.00
..                   ...      ...      ...  ...     ...     ...      ...
141  2014-11-07 10:35:56  0:16:48  0:16:48    0   0:0:0   0:0:0     1.00
142  2014-11-07 20:44:23  0:11:34   0:9:44    1  0:1:50  0:1:50     0.84
143  2014-11-07 21:00:55   0:0:30   0:0:30    0   0:0:0   0:0:0     1.00
144  2014-11-07 21:08:03  0:24:31  0:19:16    7  0:5:15  0:0:45     0.79
145  2014-11-07 21:47:03  0:12:19   0:8:29    3  0:3:50  0:1:16     0.69
146  2014-11-08 08:01:06   0:6:25   0:6:11    1  0:0:14  0:0:14     0.96
147  2014-11-08 08:23:06  0:11:38  0:11:38    0   0:0:0   0:0:0     1.00
148  2014-11-08 08:46:22   0:6:22   0:5:19    2   0:1:3  0:0:31     0.84
149  2014-11-08 11:47:36   0:14:0   0:14:0    0   0:0:0   0:0:0     1.00
150  2014-11-08 12:15:37  0:17:11  0:17:11    0   0:0:0   0:0:0     1.00
151  2014-11-08 18:53:29  0:37:25  0:37:25    0   0:0:0   0:0:0     1.00
152  2014-11-08 20:08:25   0:50:8   0:50:4    1   0:0:4   0:0:4     1.00
153  2014-11-08 22:05:50   0:8:16   0:8:16    0   0:0:0   0:0:0     1.00
154  2014-11-08 22:36:27  0:13:43    0:7:9    2  0:6:34  0:3:17     0.52
155  2014-11-09 07:38:04   0:2:38   0:0:12    1  0:2:26  0:2:26     0.08
156  2014-11-09 07:52:00  0:30:33  0:30:33    0   0:0:0   0:0:0     1.00
157  2014-11-09 21:06:24    0:2:5    0:2:5    0   0:0:0   0:0:0     1.00
158  2014-11-10 07:04:36   1:2:21   1:2:21    0   0:0:0   0:0:0     1.00
159  2014-11-10 09:09:19   0:0:14   0:0:14    0   0:0:0   0:0:0     1.00
160  2014-11-10 11:01:57   0:0:33   0:0:33    0   0:0:0   0:0:0     1.00
161  2014-11-10 12:37:11   0:0:32   0:0:27    1   0:0:5   0:0:5     0.84
162  2014-11-10 13:08:41  0:47:12  0:47:12    0   0:0:0   0:0:0     1.00
163  2014-11-10 15:49:12  0:12:15  0:12:15    0   0:0:0   0:0:0     1.00
164  2014-11-10 16:25:27  0:10:49   0:9:33    1  0:1:16  0:1:16     0.88
165  2014-11-10 18:00:34    0:3:4    0:3:4    0   0:0:0   0:0:0     1.00
166  2014-11-10 18:52:19  0:13:16   0:6:21    5  0:6:55  0:1:23     0.48
167  2014-11-10 19:12:33   0:5:56   0:5:56    0   0:0:0   0:0:0     1.00
168  2014-11-10 21:38:29  0:12:44    0:9:0    2  0:3:44  0:1:52     0.71
169  2014-11-10 21:55:29   0:5:37   0:5:37    0   0:0:0   0:0:0     1.00
170  2014-11-10 22:19:43  0:14:42  0:14:42    0   0:0:0   0:0:0     1.00

           用水量     平均水流量       热水量            用水下标          水流波动  停顿时间波动
0         1.51      0.28      0.00          (2, 2)         59.52   0:0:0
1        48.00    288.00      0.00        (56, 56)      78400.00   0:0:0
2       558.46     12.67      0.00      (381, 384)         53.45   0:0:0
3         0.45      0.01      0.00      (404, 404)        483.60   0:0:0
4         1.08      0.15      0.00      (407, 407)         61.68   0:0:0
5    127928.30   8653.55      0.00      (410, 593)   73181097.24   0:0:0
6      9605.71  27444.90      0.00      (612, 618)  750433560.46   0:0:0
7     57289.55   5304.59  28644.78      (659, 765)   27530878.57  0:0:36
8     82682.02   9169.91  20670.51      (772, 922)   82386480.97   0:0:0
9     72820.11   8953.29  33491.79    (1025, 1134)   78202494.52   0:0:0
10        1.42      0.25      0.36    (1139, 1139)         60.01   0:0:0
11      135.48    232.26     33.87    (1141, 1143)      50291.68   0:0:0
12      120.00   1800.00      0.00    (1258, 1258)    3211264.00   0:0:0
13    66885.70    534.73      0.00    (1345, 1424)     273925.06  0:0:13
14      180.07      1.09      0.00    (1444, 1445)         98.13   0:0:0
15    11050.00  13812.50      0.00    (1450, 1460)  189833562.63   0:0:0
16    28212.89   6387.82      0.00    (1481, 1532)   40120999.90   0:0:0
17    35723.98   4484.18  17861.99    (1571, 1632)   19699989.79   0:0:8
18        0.78      0.08      0.39    (1641, 1641)         62.78   0:0:0
19    61547.63   8224.63  21342.41    (1659, 1760)   66513692.74   0:0:0
20        0.04      0.00      0.01    (1876, 1876)         64.00   0:0:0
21        0.24      0.01      0.00    (1879, 1879)         63.88   0:0:0
22      560.00   1680.00      0.00    (1881, 1883)    2777725.05   0:0:0
23    52507.82   5394.64  26253.91    (2068, 2207)   28572977.74   0:0:0
24    60785.68   4948.63  29097.75    (2220, 2381)   23978607.82  0:1:53
25        0.36      0.02      0.09    (2385, 2385)         63.74   0:0:0
26       15.00     28.12      7.50    (2451, 2451)        405.02   0:0:0
27    43576.76   6953.74  21788.38    (2454, 2528)   47611128.57   0:0:2
28        4.85      2.94      2.42    (2533, 2533)         25.62   0:0:0
29    39355.29   7472.52  16409.64    (2546, 2615)   54700123.44   0:0:0
..         ...       ...       ...             ...           ...     ...
141     240.90     14.34     60.22  (15884, 15885)          0.45   0:0:0
142   59507.16   6113.75  29753.58  (16061, 16162)   36753100.17   0:0:0
143    6520.00  13040.00   3335.00  (16165, 16171)  169059123.40   0:0:0
144   28248.23   1466.17  14160.11  (16186, 16235)    2097514.60  0:0:33
145   60200.43   7096.32  19979.79  (16237, 16364)   49446131.14  0:0:16
146   22808.99   3688.79      0.00  (16532, 16553)   13308067.29   0:0:0
147       0.86      0.07      0.00  (16563, 16563)         98.53   0:0:0
148   13398.32   2520.06      0.00  (16565, 16581)    6080621.13   0:0:7
149       0.57      0.04      0.00  (16632, 16632)         63.35   0:0:0
150       0.47      0.03      0.00  (16634, 16634)         63.57   0:0:0
151       0.27      0.01      0.00  (16745, 16745)         99.86   0:0:0
152    4168.22     83.25      0.00  (16747, 16752)        499.92   0:0:0
153   69976.00   8464.84  17494.00  (16788, 16900)   70484409.35   0:0:0
154   39685.13   5550.37  19842.56  (16951, 17047)   29982463.08   0:0:6
155    1090.00   5450.00    545.00  (17212, 17226)   29502135.75   0:0:0
156       0.26      0.01      0.13  (17276, 17276)         63.86   0:0:0
157   39055.36  18746.57  16525.43  (17507, 17539)  340780564.15   0:0:0
158       0.13      0.00      0.03  (17764, 17764)         63.97   0:0:0
159     905.00   3878.57    226.25  (17766, 17767)   14848911.88   0:0:0
160     574.84   1045.16    287.42  (17795, 17796)    1055060.32   0:0:0
161     502.50   1116.67    251.25  (17843, 17846)    1201056.35   0:0:0
162       0.17      0.00      0.08  (17896, 17896)         63.94   0:0:0
163   68374.47   5581.59  29171.96  (17997, 18141)   30474860.75   0:0:0
164   76631.45   8024.24  33940.52  (18198, 18324)   62981056.32   0:0:0
165       2.61      0.85      1.30  (18371, 18371)         51.11   0:0:0
166   35077.96   5524.09  17590.18  (18405, 18452)   30015423.11  0:1:14
167    4821.78    812.66   2411.78  (18465, 18470)     639351.36   0:0:0
168   68691.42   7632.38  33771.25  (18534, 18652)   56942306.08  0:0:20
169   34413.05   6126.95   8603.26  (18669, 18744)   36904461.63   0:0:0
170       0.54      0.04      0.27  (18798, 18798)         63.41   0:0:0

[171 rows x 13 columns]

,开始时间,总用时,用时,停顿次数,停顿时长,平均停顿时长,用水时长/总时长,用水量,平均水流量,热水量,用水下标,水流波动,停顿时间波动
0,2014-10-19 07:01:56,0:5:18,0:5:18,0,0:0:0,0:0:0,1.00,1.51,0.28,0.00,"(2, 2)",59.52,0:0:0
1,2014-10-19 07:38:16,0:0:10,0:0:10,0,0:0:0,0:0:0,1.00,48.00,288.00,0.00,"(56, 56)",78400.00,0:0:0
2,2014-10-19 09:46:38,0:44:22,0:44:4,1,0:0:17,0:0:17,0.99,558.46,12.67,0.00,"(381, 384)",53.45,0:0:0
3,2014-10-19 11:50:17,0:49:4,0:49:4,0,0:0:0,0:0:0,1.00,0.45,0.01,0.00,"(404, 404)",483.60,0:0:0
4,2014-10-19 13:56:21,0:7:24,0:7:24,0,0:0:0,0:0:0,1.00,1.08,0.15,0.00,"(407, 407)",61.68,0:0:0
5,2014-10-19 15:34:39,0:15:1,0:14:47,1,0:0:14,0:0:14,0.98,127928.30,8653.55,0.00,"(410, 593)",73181097.24,0:0:0
6,2014-10-19 15:55:15,0:0:21,0:0:21,0,0:0:0,0:0:0,1.00,9605.71,27444.90,0.00,"(612, 618)",750433560.46,0:0:0
7,2014-10-19 17:23:21,0:13:39,0:10:48,2,0:2:51,0:1:25,0.79,57289.55,5304.59,28644.78,"(659, 765)",27530878.57,0:0:36
8,2014-10-19 17:46:21,0:9:1,0:9:1,0,0:0:0,0:0:0,1.00,82682.02,9169.91,20670.51,"(772, 922)",82386480.97,0:0:0
9,2014-10-19 21:32:45,0:9:20,0:8:8,1,0:1:12,0:1:12,0.87,72820.11,8953.29,33491.79,"(1025, 1134)",78202494.52,0:0:0
10,2014-10-19 21:47:05,0:5:37,0:5:37,0,0:0:0,0:0:0,1.00,1.42,0.25,0.36,"(1139, 1139)",60.01,0:0:0
11,2014-10-19 21:54:30,0:0:39,0:0:35,1,0:0:4,0:0:4,0.90,135.48,232.26,33.87,"(1141, 1143)",50291.68,0:0:0
12,2014-10-20 06:59:33,0:0:4,0:0:4,0,0:0:0,0:0:0,1.00,120.00,1800.00,0.00,"(1258, 1258)",3211264.00,0:0:0
13,2014-10-20 07:22:54,2:10:50,2:5:5,9,0:5:45,0:0:38,0.96,66885.70,534.73,0.00,"(1345, 1424)",273925.06,0:0:13
14,2014-10-20 13:33:54,2:44:31,2:44:31,0,0:0:0,0:0:0,1.00,180.07,1.09,0.00,"(1444, 1445)",98.13,0:0:0
15,2014-10-20 19:03:41,0:0:48,0:0:48,0,0:0:0,0:0:0,1.00,11050.00,13812.50,0.00,"(1450, 1460)",189833562.63,0:0:0
16,2014-10-20 19:13:45,0:4:25,0:4:25,0,0:0:0,0:0:0,1.00,28212.89,6387.82,0.00,"(1481, 1532)",40120999.90,0:0:0
17,2014-10-20 19:47:59,0:8:47,0:7:58,2,0:0:49,0:0:24,0.91,35723.98,4484.18,17861.99,"(1571, 1632)",19699989.79,0:0:8
18,2014-10-20 20:18:11,0:10:13,0:10:13,0,0:0:0,0:0:0,1.00,0.78,0.08,0.39,"(1641, 1641)",62.78,0:0:0
19,2014-10-20 21:46:22,0:8:56,0:7:29,1,0:1:27,0:1:27,0.84,61547.63,8224.63,21342.41,"(1659, 1760)",66513692.74,0:0:0
20,2014-10-20 23:02:13,3:39:5,3:39:5,0,0:0:0,0:0:0,1.00,0.04,0.00,0.01,"(1876, 1876)",64.00,0:0:0
21,2014-10-21 06:43:37,0:32:43,0:32:43,0,0:0:0,0:0:0,1.00,0.24,0.01,0.00,"(1879, 1879)",63.88,0:0:0
22,2014-10-21 07:49:07,0:0:20,0:0:20,0,0:0:0,0:0:0,1.00,560.00,1680.00,0.00,"(1881, 1883)",2777725.05,0:0:0
23,2014-10-21 16:04:18,0:9:57,0:9:44,4,0:0:13,0:0:3,0.98,52507.82,5394.64,26253.91,"(2068, 2207)",28572977.74,0:0:0
24,2014-10-21 16:23:07,0:18:15,0:12:17,3,0:5:58,0:1:59,0.67,60785.68,4948.63,29097.75,"(2220, 2381)",23978607.82,0:1:53
25,2014-10-21 17:37:54,0:22:13,0:22:13,0,0:0:0,0:0:0,1.00,0.36,0.02,0.09,"(2385, 2385)",63.74,0:0:0
26,2014-10-21 18:37:57,0:0:32,0:0:32,0,0:0:0,0:0:0,1.00,15.00,28.12,7.50,"(2451, 2451)",405.02,0:0:0
27,2014-10-21 18:49:42,0:6:54,0:6:16,2,0:0:38,0:0:19,0.91,43576.76,6953.74,21788.38,"(2454, 2528)",47611128.57,0:0:2
28,2014-10-21 19:01:43,0:1:39,0:1:39,0,0:0:0,0:0:0,1.00,4.85,2.94,2.42,"(2533, 2533)",25.62,0:0:0
29,2014-10-21 19:50:02,0:5:16,0:5:16,0,0:0:0,0:0:0,1.00,39355.29,7472.52,16409.64,"(2546, 2615)",54700123.44,0:0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2014-11-07 10:35:56,0:16:48,0:16:48,0,0:0:0,0:0:0,1.00,240.90,14.34,60.22,"(15884, 15885)",0.45,0:0:0
142,2014-11-07 20:44:23,0:11:34,0:9:44,1,0:1:50,0:1:50,0.84,59507.16,6113.75,29753.58,"(16061, 16162)",36753100.17,0:0:0
143,2014-11-07 21:00:55,0:0:30,0:0:30,0,0:0:0,0:0:0,1.00,6520.00,13040.00,3335.00,"(16165, 16171)",169059123.40,0:0:0
144,2014-11-07 21:08:03,0:24:31,0:19:16,7,0:5:15,0:0:45,0.79,28248.23,1466.17,14160.11,"(16186, 16235)",2097514.60,0:0:33
145,2014-11-07 21:47:03,0:12:19,0:8:29,3,0:3:50,0:1:16,0.69,60200.43,7096.32,19979.79,"(16237, 16364)",49446131.14,0:0:16
146,2014-11-08 08:01:06,0:6:25,0:6:11,1,0:0:14,0:0:14,0.96,22808.99,3688.79,0.00,"(16532, 16553)",13308067.29,0:0:0
147,2014-11-08 08:23:06,0:11:38,0:11:38,0,0:0:0,0:0:0,1.00,0.86,0.07,0.00,"(16563, 16563)",98.53,0:0:0
148,2014-11-08 08:46:22,0:6:22,0:5:19,2,0:1:3,0:0:31,0.84,13398.32,2520.06,0.00,"(16565, 16581)",6080621.13,0:0:7
149,2014-11-08 11:47:36,0:14:0,0:14:0,0,0:0:0,0:0:0,1.00,0.57,0.04,0.00,"(16632, 16632)",63.35,0:0:0
150,2014-11-08 12:15:37,0:17:11,0:17:11,0,0:0:0,0:0:0,1.00,0.47,0.03,0.00,"(16634, 16634)",63.57,0:0:0
151,2014-11-08 18:53:29,0:37:25,0:37:25,0,0:0:0,0:0:0,1.00,0.27,0.01,0.00,"(16745, 16745)",99.86,0:0:0
152,2014-11-08 20:08:25,0:50:8,0:50:4,1,0:0:4,0:0:4,1.00,4168.22,83.25,0.00,"(16747, 16752)",499.92,0:0:0
153,2014-11-08 22:05:50,0:8:16,0:8:16,0,0:0:0,0:0:0,1.00,69976.00,8464.84,17494.00,"(16788, 16900)",70484409.35,0:0:0
154,2014-11-08 22:36:27,0:13:43,0:7:9,2,0:6:34,0:3:17,0.52,39685.13,5550.37,19842.56,"(16951, 17047)",29982463.08,0:0:6
155,2014-11-09 07:38:04,0:2:38,0:0:12,1,0:2:26,0:2:26,0.08,1090.00,5450.00,545.00,"(17212, 17226)",29502135.75,0:0:0
156,2014-11-09 07:52:00,0:30:33,0:30:33,0,0:0:0,0:0:0,1.00,0.26,0.01,0.13,"(17276, 17276)",63.86,0:0:0
157,2014-11-09 21:06:24,0:2:5,0:2:5,0,0:0:0,0:0:0,1.00,39055.36,18746.57,16525.43,"(17507, 17539)",340780564.15,0:0:0
158,2014-11-10 07:04:36,1:2:21,1:2:21,0,0:0:0,0:0:0,1.00,0.13,0.00,0.03,"(17764, 17764)",63.97,0:0:0
159,2014-11-10 09:09:19,0:0:14,0:0:14,0,0:0:0,0:0:0,1.00,905.00,3878.57,226.25,"(17766, 17767)",14848911.88,0:0:0
160,2014-11-10 11:01:57,0:0:33,0:0:33,0,0:0:0,0:0:0,1.00,574.84,1045.16,287.42,"(17795, 17796)",1055060.32,0:0:0
161,2014-11-10 12:37:11,0:0:32,0:0:27,1,0:0:5,0:0:5,0.84,502.50,1116.67,251.25,"(17843, 17846)",1201056.35,0:0:0
162,2014-11-10 13:08:41,0:47:12,0:47:12,0,0:0:0,0:0:0,1.00,0.17,0.00,0.08,"(17896, 17896)",63.94,0:0:0
163,2014-11-10 15:49:12,0:12:15,0:12:15,0,0:0:0,0:0:0,1.00,68374.47,5581.59,29171.96,"(17997, 18141)",30474860.75,0:0:0
164,2014-11-10 16:25:27,0:10:49,0:9:33,1,0:1:16,0:1:16,0.88,76631.45,8024.24,33940.52,"(18198, 18324)",62981056.32,0:0:0
165,2014-11-10 18:00:34,0:3:4,0:3:4,0,0:0:0,0:0:0,1.00,2.61,0.85,1.30,"(18371, 18371)",51.11,0:0:0
166,2014-11-10 18:52:19,0:13:16,0:6:21,5,0:6:55,0:1:23,0.48,35077.96,5524.09,17590.18,"(18405, 18452)",30015423.11,0:1:14
167,2014-11-10 19:12:33,0:5:56,0:5:56,0,0:0:0,0:0:0,1.00,4821.78,812.66,2411.78,"(18465, 18470)",639351.36,0:0:0
168,2014-11-10 21:38:29,0:12:44,0:9:0,2,0:3:44,0:1:52,0.71,68691.42,7632.38,33771.25,"(18534, 18652)",56942306.08,0:0:20
169,2014-11-10 21:55:29,0:5:37,0:5:37,0,0:0:0,0:0:0,1.00,34413.05,6126.95,8603.26,"(18669, 18744)",36904461.63,0:0:0
170,2014-11-10 22:19:43,0:14:42,0:14:42,0,0:0:0,0:0:0,1.00,0.54,0.04,0.27,"(18798, 18798)",63.41,0:0:0